html,
body {
  font-size: 18px;
  color: #323f4b;
  line-height: 1.65;
  background: #fafbfc;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,Inter, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width:499px) {
  h2{  
   font-size: 1.25rem;
  }
  h1{
    font-size: 1.7rem;
  }
}

@media (max-width: 767px) and (min-width: 500px) {
  h2{  
    font-size: 1.4rem;
  }
  h1{
    font-size: 2.2rem;
  }    
}
@media (min-width: 768px){
h1{
	font-size: 2.8rem;
}
}

code {
  background-color: #eeeeee;
}

* {
  box-sizing: border-box;
}
