html,
body {
  font-size: 18px;
  color: #323f4b;
  line-height: 1.65;
  background: #fafbfc;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,Inter, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  background-color: #eeeeee;
}

* {
  box-sizing: border-box;
}
